.navigation-container {
  background-color: transparent;
}

.navigation {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.navigation a {
  font-family: "Poetsen One", sans-serif;
  font-size: 24px;
  margin: 5px 20px;
  text-decoration: none;
  transition: color 0.5s ease;
  background-color: transparent;
}

.navigation a.active {
  text-decoration: underline;
}

.navigation a.inactive {
  color: gray;
}

.cloth-category-section {
  margin-top: 20px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

ul, li {
  background-color: transparent;
}

.cloth-category-section ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.cloth-category-section li {
  margin: 10px 15px;
  font-family: sans-serif;
  font-weight: bold;
}

.cloth-category-section.fade-in {
  background-color: transparent;
  opacity: 1;
}

.cloth-category-section.fade-out {
  background-color: transparent;
  opacity: 0;
}
